glob2>=0.6
nodepy-runtime>=2.1.5
nr.collections>=0.0.1
nr.databind>=0.0.1
nr.interface>=0.0.1
nr.fs>=1.1.1
nr.stream>=0.0.1
nr.sumtype>=0.0.1
requests>=2.19.1
termcolor>=1.1.0
toml>=0.9.4
werkzeug>=0.14.1
