@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

html {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  flex: 1;
}
body {
  display: flex;
}
a {
  color: #3af;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
table th, thead td {
  color: #444;
  background-color: white;
}
table tr {
  background-color: #f8f8f8;
}
table tr:nth-child(odd) {
  background-color: #efefef;
}
table th, table td {
  padding: 0.2em 1em;
  border: 1px solid gray;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 230px;
  padding: 1em;
  background-color: #364957;
  color: white;
  font-size: 90%;
}
.sidebar .title a {
  font-weight: 300;
  color: inherit;
}
.toc {
  flex: 1;
}
.toc a {
  color: inherit;
  line-height: 1.5;
}
.toc > ul {
  padding-left: 0;
}
.toc ul ul {
  padding-left: 1em;
}
.toc ul ul li {
  color: #ccc;
  font-weight: 300;
}
.toc ul li {
  list-style: none;
}
.toc ul li a.active {
  font-weight: bold;
}
.sidebar .statigen-notice {
  font-size: 90%;
}
.sidebar .statigen-notice a {
  color: #3af;
}
.sidebar hr {
  margin: 1em -1em;
  display: block;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
.sidebar .author {
  font-size: 90%;
}
.sidebar .author .subtitle {
  margin-top: 0;
  color: #999;
  font-weight: 200;
  text-transform: uppercase;
}
.sidebar .author > a {
  display: block;
  margin-top: 1em;
  color: #ddd;
  font-weight: bold;
}
.content {
  flex: 1;
  background-color: #f2faff;
  padding: 1em;
  color: #222;
  line-height: 1.4;
  border-left: 4px solid #4a5c68;
}
.content-inner {
  max-width: 700px;
}
.content p > code, .content li > code, .content td > code, .content th > code {
  background-color: #deeffc;
  padding: 0.2em;
}
.content pre {
  color: #deeaed;
  background-color: #364957;
  padding: 1em;
  border-top: 3px solid #3af;
  border-radius: 0 0 5px 5px;
}
.content blockquote {
  border-left: 3px solid #3af;
  margin: 0;
  padding: 1px 0em 1px 1em;
  background-color: #d7eeff;
  display: block;
  border-radius: 0px 5px 5px 0;
}
.content .admonition {
  background-color: #364957;
  padding: .5em;
  border-top: 3px solid #3af;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  border-radius: 0 0 5px 5px;
}
.content .admonition .admonition-title {
  font-weight: bold;
}
.content .admonition code {
  background-color: rgba(255, 255, 255, 0.1);
}
.content .admonition.warn {
  border-color: #ad0a0a;
}
.content .admonition.todo {
  border-color: #cc8c1c;
}
